@{
    ViewData["Title"] = "Home Page";
}
<body>
<div class="text-left">
    <p>Username:@Html.TextBox("Username",null)</p>
    <p>Password: @Html.TextBox("Password", null)</p>
    <button>Sign in</button>
</div>
</body>
