@{
    ViewData["Title"] = "Message";
}
<form asp-controller="Home" asp-action="Send" method="post">
    <body>
        <p>Username: <input id="Username-message" name="username" type="text" size="40" /></p>
        <p>Message: <input id="Message" name="message" type="text" size="100"/></p>
        <button type="submit">Send</button>
     </body>
</form>